<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <a href="/books" class="btn-green">Get all books</a>
      <a href="/books/find" class="btn-blue">Find books</a>
    </div>
  </body>
</html>
